<div class="row">
  <div class="large-12 columns">
    <%= form_for(@user) do |f| %>
      <fieldset>
        <legend><i class="fi-results-demographics"></i> Settings</legend>
        <%= f.label :name %><br>
        <%= f.text_field :name %>

        <%= f.label :email %><br>
        <%= f.text_field :email %>

        <%= f.label :phone %><br>
        <%= f.text_field :phone %>

        <%= submit_tag "Save", class: 'button radius small' %>
        <%= link_to "Cancel", dashboard_path, class: 'button radius small secondary' %>
      </fieldset>
    <% end %>
  </div>
</div>
